footer.empties-footer {
  color: silver;
  padding-bottom: 2em;
  padding-top: 1em;
  text-align: center;

  a {
    color: $empties-anchor-color;
    text-decoration: none;
  }

  p {
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 0 1em;

    @include media($empties-large-screen) {
      font-size: 1em;
    }
  }

  .empties-footer-logo {
    margin-bottom: 2em;
  }

  img {
    @include clearfix;
    display: block;
    height: 60px;
    margin: auto;
  }

  .footer-links {
    border-top: 2px solid;
    display: inline-block;
    font-family: $empties-narrow-sans;
    font-size: 0.8em;
    font-weight: 300;
    margin-bottom: 4em;
    padding: 0.6em;
    text-transform: uppercase;

    @include media($empties-large-screen) {
      font-size: 1em;
      padding: 1em;
    }

    li {
      display: inline;
      padding: 0.4em;

      a {
        color: #a7a7a7;
        text-decoration: none;

        &:hover {
          color: $empties-anchor-color;
        }
      }
    }
  }
}
