.button-icon {
  $icon-size: 1.6em;
  background-color: whitesmoke;
  padding: 1em;
  width: 100%;

  &:before {
    @include size($icon-size);
    background-image: url(https://raw.githubusercontent.com/thoughtbot/empties/master/source/images/placeholder_small.png);
    background-repeat: no-repeat;
    background-size: $icon-size;
    content: "";
    display: inline-block;
    margin-right: 1em;
    vertical-align: middle;
  }
}
