.comment {
  display: table;
  width: 100%;

  .comment-image,
  .comment-content {
    display: table-cell;
    vertical-align: top;
  }

  h4 {
    margin-top: 0;
  }

  .comment-image {
    padding-right: $gutter;

    img {
      height: 3em;
      max-width: none;
    }

    .comment-reverse-order & {
      padding-left: 10px;
      padding-right: 0;
    }
  }

  .comment-content {
    width: 100%;
  }
}
