<button class="button-icon">
  <img src="https://raw.githubusercontent.com/Magnus-G/refills-unstyled/master/source/images/placeholder_small.png" alt="Logo Image" class="login-logo">
  <span>Button with icon</span>
</button>
