<div class="grid">
  <div class="grid-box-wrap"><div class="grid-box">Content</div></div>
  <div class="grid-box-wrap"><div class="grid-box">Content</div></div>
  <div class="grid-box-wrap"><div class="grid-box">Content</div></div>
  <div class="grid-box-wrap"><div class="grid-box">Content</div></div>
  <div class="grid-box-wrap"><div class="grid-box">Content</div></div>
  <div class="grid-box-wrap"><div class="grid-box">Content</div></div>
  <div class="grid-box-wrap"><div class="grid-box">Content</div></div>
  <div class="grid-box-wrap"><div class="grid-box">Content</div></div>
  <div class="grid-box-wrap"><div class="grid-box">Content</div></div>
  <div class="grid-box-wrap"><div class="grid-box">Content</div></div>
</div>
