<div class="search-bar">
  <form role="search">
    <input type="search" placeholder="Enter Search">
    <button type="submit">
      <img src="https://raw.githubusercontent.com/thoughtbot/empties/master/source/images/placeholder_small.png" alt="Search Icon">
    </button>
  </form>
</div>
