<div class="refills-header">
  <div class="refills-logo">
    <%= partial "svgs/refills_logo" %>
  </div>
  <h2>Empties are unstyled <a href="//refills.bourbon.io">Refills</a> components and patterns built with <a href="//bourbon.io">Bourbon</a> and <a href="//neat.bourbon.io">Neat</a>.</h2>
  <p>Managed by <a href="http://thoughtbot.com">thoughtbot</a>, source at <a href="//github.com/thoughtbot/empties">GitHub</a></p>
</div>
